{% extends "projects_container.html" %}

{% block description %}

  <div class="row-fluid">          
    <div class="span6">
      <h2>{{ this.heading1 }}</h2>
      <p>{{ this.text1 }}</p>
      {% if this.btn1 %}
        <p><a class="btn btn-inverse btn-large" href="{{ this.btn1[1] }}">{{ this.btn1[0] }} &raquo;</a></p>
      {% endif %}
    </div><!--/span-->
    
    <div class="span6">
      <ul class="thumbnails">
        <li><img src="{{ this.img1 }}"></li>
      </ul>
    </div><!--/span-->
  </div><!--/row-->
  
  <div class="row-fluid">
    <div class="span6">
      <ul class="thumbnails">
        <li><img src="{{ this.img2 }}"></li>
      </ul>
    </div><!--/span-->
    <div class="span6">
      <h2>{{ this.heading2 }}</h2>
      <p>{{ this.text2 }} </p>
      {% if this.btn2 %}
        <p><a class="btn btn-inverse btn-large" href="{{ this.btn2[1] }}">{{ this.btn2[0] }} &raquo;</a></p>
      {% endif %}
    </div><!--/span-->
  </div><!--/row-->          

{% endblock %}

