{% extends "projects_container.html" %}

{% block description %}

  <div class="row-fluid">                    
    <div class="row-fluid">
      <div class="span6">
        <ul class="thumbnails">
          <li><img src={{ this.img1 }}></li>
        </ul>
      </div><!--/span-->
      <div class="span6">
        <h2>{{ this.heading1 }}</h2>
        <p>{{ this.text1 }}</p>
      </div><!--/span-->
    </div><!--/row-->
    
    {% if this.imgs %}
      <div class="span12">
        <h2>Screenshots</h2>
        <ul class="thumbnails">
          {% for img in this.imgs %}
            <li><img src={{ img }}>
          {% endfor %}
        </ul>
      </div><!--/span-->
    {% endif %}
    
  </div><!--/row-->          

{% endblock %}
